<!-- myapp/templates/myapp/payment_success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
</head>
<body>
    <center>
    <h1>Payment Successful</h1>
    <p>Thank you for your payment!</p>
    </center>
    <!-- Add any additional content or information here -->
    <div class="text-center mt-3">
        <p>Go Back to Home Page <a href="{% url 'category' %}">Home</a></p>
    </div>
</body>
</html>
